@page "/Base_Manage/Base_Department/List"

@inherits BaseListWithEdit<Base_DepartmentTree, EditForm>

<Space Size="@("small")">

    @if (Operator.HasPerm("Base_Department.Add"))
    {
        <SpaceItem>
            <Button Type="@ButtonType.Primary" Icon="plus" OnClick="()=>Edit(null)">新建</Button>
        </SpaceItem>
    }
    @if (Operator.HasPerm("Base_Department.Delete"))
    {
        <SpaceItem>
            <Popconfirm Title="确认删除选中项吗?"
                    OnConfirm="()=>Delete()"
                    OnCancel="()=>{}"
                    OkText="确定"
                    CancelText="取消"
                    disabled=@NoneSelectedItems>
                <Button Type="@ButtonType.Primary" Danger Icon="minus" disabled=@NoneSelectedItems>删除</Button>
            </Popconfirm>
        </SpaceItem>
    }
    <SpaceItem>
        <Search Placeholder="关键字" EnterButton="true" @bind-Value="@KeyWord" disabled=@Loading OnSearch="()=>Refresh()" />
    </SpaceItem>
</Space>

<Table @ref="_table" 
    TItem="Base_DepartmentTree" 
    DataSource="Data" 
    TreeChildren="item=>item.Children" 
    DefaultExpandAllRows 
    Loading="Loading"
    HidePagination 
    @bind-SelectedRows="SelectedItems">
    <ChildContent>
        <Selection Key="@(context.Id)" />
        <AntDesign.Column Title="部门名" DataIndex="Text" TData="string" />
        <ActionColumn Title="Action">
            <Space Size=@("small")>
                <SpaceItem>
                    <Button Type="@ButtonType.Link" OnClick="()=>Edit(context)">Edit</Button>
                    <Popconfirm Title="确认删除吗?"
                                OnConfirm="()=>Delete(context.Id)"
                                OnCancel="()=>{}"
                                OkText="确定"
                                CancelText="取消">
                        <Button Danger Type="@ButtonType.Link">Delete</Button>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </ChildContent>
</Table>


@code
{  
    public List()
    {
        Area = "Base_Manage";
        GetDataList = "GetTreeDataList";
        Condition = "Name";
    }
}