@page "/Base_Manage/Base_LogOperating/List"

@inherits BaseList<Base_LogOperatingDTO>

<Space Size="@("small")">
    <SpaceItem>
        <Input @bind-Value="@CreatorName" Placeholder="操作人" AutoComplete=false />
    </SpaceItem>
    <SpaceItem>
        <RangePicker TValue="DateTime?[]" @bind-Value="@RangeTime" Format="yyyy-MM-dd HH:mm:ss" />
    </SpaceItem>
    <SpaceItem>
        <Search Placeholder="内容" EnterButton="true" @bind-Value="@KeyWord" disabled=@Loading OnSearch="()=>Refresh()" />
    </SpaceItem>
</Space>

<Table @ref="_table"
       TItem="Base_LogOperatingDTO"
       DataSource="Data"
       Loading="Loading"
       @bind-PageSize="Pagination.PageRows"
       @bind-SelectedRows="SelectedItems"
       ScrollX="3000"
       ScrollBarWidth="5px"
       Size=@TableSize.Small
       RowClassName="@(x => x.RowIndex % 2 == 0 ?"gray-2":"")">
    <ChildContent>
        <Selection Key="@(context.Id)" />
        <AntDesign.Column Ellipsis Title="日志名称" DataIndex="Name" TData="string" />
        <AntDesign.Column Ellipsis Title="是否成功" DataIndex="IsSuccess" TData="string" />
        <AntDesign.Column Ellipsis Title="消息" DataIndex="Message" TData="string" />
        <AntDesign.Column Ellipsis Title="浏览器" DataIndex="Browser" TData="string" />
        <AntDesign.Column Ellipsis Title="操作系统" DataIndex="OperatingSystem" TData="string" />
        <AntDesign.Column Ellipsis Title="IP" DataIndex="IP" TData="string" />
        <AntDesign.Column Ellipsis Title="请求路径" DataIndex="Path" TData="string" />
        <AntDesign.Column Ellipsis Title="类名称" DataIndex="ClassName" TData="string" />
        <AntDesign.Column Ellipsis Title="方法名称" DataIndex="MethodName" TData="string" />
        <AntDesign.Column Ellipsis Title="请求方式" DataIndex="RequestMethod" TData="string" />
        <AntDesign.Column Ellipsis Title="请求Body" DataIndex="Body" TData="string" />
        <AntDesign.Column Ellipsis Title="返回结果" DataIndex="Result" TData="string" />
        <AntDesign.Column Ellipsis Title="耗时" DataIndex="ElapsedTime" TData="string" />
        <AntDesign.Column Ellipsis Title="操作人" DataIndex="CreatorName" TData="string" />
        <AntDesign.Column Ellipsis Title="时间" DataIndex="CreateTime" TData="DateTime" Format="yyyy-MM-dd HH:mm:ss" />
    </ChildContent>
    <PaginationTemplate>
        <div style="float:right;margin-top:10px">
            <Pagination Total="Pagination.Total"
                        ShowTotal="ShowTotal"
                        ShowSizeChanger
                        PageSize="Pagination.PageRows"
                        Current="Pagination.PageIndex"
                        OnChange="PageIndexChanged"
                        OnShowSizeChange="PageSizeChanged" />
        </div>
    </PaginationTemplate>
</Table>

<style>
    .gray-2 {
        background-color: #fafafa;
    }
</style>

@code
{
    public List()
    {
        Area = "Base_Manage";
    }

    string? CreatorName { get; set; }

    DateTime?[] RangeTime { get; set; } = new DateTime?[2];

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
    }

    protected override string GetDataJson()
    {
        var searchKeyValues = new Dictionary<string, object>();
        if (!string.IsNullOrEmpty(Condition) && !string.IsNullOrEmpty(KeyWord))
        {
            searchKeyValues.Add(Condition, KeyWord);
        }
        if (!string.IsNullOrEmpty(CreatorName))
        {
            searchKeyValues.Add("CreatorName", CreatorName);
        }

        var data = new
        {
            PageIndex = Pagination.PageIndex,
            PageRows = Pagination.PageRows,
            SortField = Pagination.SortField,
            SortType = Pagination.SortType,
            SearchKeyValues = searchKeyValues,
            Search = new
            {
                StartTime = RangeTime[0],
                EndTime = RangeTime[1],
            }
        };

        return data.ToJson();
    }
}