@page "/Base_Manage/Base_User/List"

@inherits BaseListWithEdit<Base_UserDTO, EditForm>

<Space Size="@("small")">

    @if (Operator.HasPerm("Base_User.Add"))
    {
        <SpaceItem>
            <Button Type="@ButtonType.Primary" Icon="plus" OnClick="()=>Edit(null)">新建</Button>
        </SpaceItem>
    }
    @if (Operator.HasPerm("Base_User.Delete"))
    {
        <SpaceItem>
            <Popconfirm Title="确认删除选中项吗?"
                    OnConfirm="()=>Delete()"
                    OnCancel="()=>{}"
                    OkText="确定"
                    CancelText="取消"
                    disabled=@NoneSelectedItems>
                <Button Type="@ButtonType.Primary" Danger Icon="minus" disabled=@NoneSelectedItems>删除</Button>
            </Popconfirm>
        </SpaceItem>
    }
    <SpaceItem>
        <Search Placeholder="关键字" EnterButton="true" @bind-Value="@KeyWord" disabled=@Loading OnSearch="()=>Refresh()" />
    </SpaceItem>
</Space>

<Table @ref="_table" 
    TItem="Base_UserDTO"
    DataSource="Data"  
    Loading="Loading" 
    @bind-PageSize="Pagination.PageRows"
    @bind-SelectedRows="SelectedItems"
    ScrollX="1400">
    <ChildContent>
        <Selection Key="@(context.Id)" />
        <AntDesign.Column Title="用户名" DataIndex="UserName" TData="string"/>
        <AntDesign.Column Title="姓名" DataIndex="RealName" TData="string"/>
        <AntDesign.Column Title="性别" DataIndex="SexText" TData="string"/>
        <AntDesign.Column Title="出生日期" DataIndex="BirthdayText" TData="string"/>
        <AntDesign.Column Title="所属部门" DataIndex="DepartmentName" TData="string"/>
        <AntDesign.Column Title="所属角色" DataIndex="RoleNames" TData="string"/>
        <ActionColumn Title="Action" Fixed="right">
            <Space Size=@("small")>
                <SpaceItem>
                    <Button Type="@ButtonType.Link" OnClick="()=>Edit(context)">Edit</Button>
                    <Popconfirm Title="确认删除吗?"
                                OnConfirm="()=>Delete(context.Id)"
                                OnCancel="()=>{}"
                                OkText="确定"
                                CancelText="取消">
                        <Button Danger Type="@ButtonType.Link">Delete</Button>
                    </Popconfirm>
                </SpaceItem>
            </Space>
        </ActionColumn>
    </ChildContent>
    <PaginationTemplate>
        <div style="float:right;margin-top:10px">
            <Pagination Total="Pagination.Total"
                        ShowTotal="ShowTotal"
                        ShowSizeChanger
                        PageSize="Pagination.PageRows"
                        Current="Pagination.PageIndex"
                        OnChange="PageIndexChanged"
                        OnShowSizeChange="PageSizeChanged" />
        </div>
    </PaginationTemplate>
</Table>


@code
{
    public List()
    {
        Area = "Base_Manage";
        Condition = "UserName";
    }
}